html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}


body {
    margin-left: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar-navigation {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    padding: auto;
    border-right: 1px solid lightgrey;
    flex-direction: column;
    justify-content: flex-start;
}

.navbar {
    width: 120%;
    height: 100px;
    position: fixed;
    top: 0;
    width: calc(100% - 600px);
    margin-left: 250px;
    margin-right: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: white;
    border-left: 1px solid lightgrey;
}

.sidebar-right {
    width: 350px;
    max-height: 70vh;
    overflow-y: auto;
    position: absolute;
    top: 0;
    right: 0;
}


.main-content {
    margin-top: 120px;
    margin-left: 250px;
    margin-right: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.main-content2 {
    display: flex;
    margin-left: 250px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}



/* searchbar */

.input {
    width: 100%;
    max-width: 500px;
    height: 50px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

    .input:hover {
        border: 2px solid lightgrey;
        box-shadow: 0px 0px 20px -17px;
    }

    .input:active {
        transform: scale(0.95);
    }

    .input:focus {
        border: 2px solid grey;
    }


.post {
    width: 500px;
    border: 1px solid #dbdbdb;
    background-color: white;
}

.post-header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #efefef;
}

.profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.post-info {
    display: flex;
    flex-direction: column;
}

.username {
    font-weight: bold;
}

.post-actions {
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.fa-regular {
    cursor: pointer;
}

.post-caption {
    padding: 0 10px 10px;
}

    .post-caption .username {
        margin-right: 5px;
    }

.friend-requests {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #efefef;
}

.btn-confirm {
    background-color: #f9fafb;
    border: 1px solid rgb(209, 213, 219);
    border-radius: 0.5rem;
    color: #636771;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: 5px 7px;
    text-align: center;
    margin-left: 50px;
    cursor: pointer;
}

    .btn-confirm:hover {
        background-color: #e5f7dc;
    }

.btn-delete {
    background-color: #f9fafb;
    border: 1px solid rgb(209, 213, 219);
    border-radius: 0.5rem;
    color: #636771;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: 5px 7px;
    text-align: center;
    cursor: pointer;
}

    .btn-delete:hover {
        background-color: #f7c0b3;
    }

.username-request {
    font-size: 16px;
}

.friend-requests-heading {
    width: 100%;
    padding: 40px 0px;
    font-size: 20px;
    position: sticky;
    background-color: white;
    top: 0;
}

.reaction-heart {
    width: 25px;
    margin-right: 10px;
    margin-left: 5px;
}

.likes-count {
    display: flex;
    align-items: center;
}

.count-likes-number {
    font-size: 16px;
}

.comment-image {
    width: 25px;
    margin-left: 25px;
    margin-right: 10px;
}

.save-image{
    width:25px;
}
.all-requests {
    padding: 5px;
}

.post-description-hidden-text {
    display: none;
}

.post-description {
    margin: 2px;
}

.toggle-btn {
    border: none;
    background-color: white;
    color: #2a62f2;
    display: inline;
    cursor: pointer;
}


.post-caption {
    display: inline-flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.carousel {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
    width: 100%;
}

.post-image {
    flex: 0 0 auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.image-counter {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 10px;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
    align-content: center;
    align-items: center;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
}

    .dot.active {
        background-color: white;
    }


.links {
    text-decoration: none !important;
    color: black;
}

.sidebar-links {
    text-decoration: none;
    color: black;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}



.btn-sidebar {
    display: inline-block;
    border: none;
    background-color: inherit;
    padding: 20px 28px;
    font-size: 18px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.2s ease;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
}

    .btn-sidebar:hover {
        background-color: lightgrey;
    }

#logo {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 30px 0px;
    text-align: center;
    cursor: pointer;
    margin: 20px 20px;
}

.sidebar-images {
    width: 25px;
    height: 25px;
    max-width: 25px;
    padding-right: 25px;
    vertical-align: middle;
}

#logout-button {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
}

.create-post-page {
    margin-top: 20px;
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.create-post-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 20px;
}

.post-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 500px;
}

    .form-group label {
        font-size: 16px;
        color: #555;
        font-weight: bold;
    }

    .form-group textarea {
        width: 100%;
        height: 20px;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 5px;
        resize: vertical;
        transition: border-color 0.3s ease;
    }

        .form-group textarea:focus {
            border-color: #007bff;
            outline: none;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }

.submit-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .submit-btn:hover {
        background-color: #0056b3;
    }

.image-previews {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

    .image-previews img {
        max-width: 100px;
        max-height: 100px;
        border-radius: 5px;
        object-fit: cover;
        border: 1px solid #ccc;
    }

#addImageBtn {
    background-color: #28a745;
    margin-top: 10px;
}

    #addImageBtn:hover {
        background-color: #218838;
    }

.image-container button {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 0, 0, 0.7);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 0;
}

    .image-container button:hover {
        background-color: rgba(255, 0, 0, 0.9);
    }

.image-previews {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.image-container {
    position: relative;
    display: inline-block;
    margin: 5px;
}

    .image-container img {
        max-width: 100px;
        max-height: 100px;
        border-radius: 5px;
        object-fit: cover;
        border: 1px solid #ccc;
    }

    .image-container button {
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(255, 0, 0, 0.7);
        color: #fff;
        border: none;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        padding: 0;
    }

.tags-input-wrapper {
    background: transparent;
    padding: 10px;
    border-radius: 4px;
    max-width: 400px;
    border: 1px solid #ccc
}

    .tags-input-wrapper input {
        border: none;
        background: transparent;
        outline: none;
        width: 140px;
        margin-left: 8px;
    }

    .tags-input-wrapper .tag {
        display: inline-block;
        background-color: #1f5e90;
        color: white;
        border-radius: 40px;
        padding: 0px 3px 0px 7px;
        margin-right: 5px;
        margin-bottom: 5px;
        box-shadow: 0 5px 15px -2px #dbdbdb
    }

        .tags-input-wrapper .tag a {
            margin: 0 7px 3px;
            display: inline-block;
            cursor: pointer;
        }


.btn-save-post {
    position: absolute;
    right: 10px;
    background-color: transparent;
    border: none;
}

.btn-unsave-post {
    position: absolute;
    right: 10px;
    background-color: transparent;
    border: none;
}

.btn-delete-post {
    margin-left: 160px;
    margin-right: 0px;
    background-color: indianred;
    border-radius: 20px;
    height: 35px;
    width: 110px;
}

.btn-deletePermanently-post {
    margin-left: 10px;
    background-color: indianred;
    border-radius: 20px;
    height: 35px;
    width: 200px;
}

.btn-recover-post {
    margin-left: 170px;
    margin-right: 0px;
    background-color: yellowgreen;
    border-radius: 20px;
    height: 35px;
    width: 200px;
}

.btn-untagging-post {
    margin-left: 200px;
    background-color: indianred;
    border-radius: 20px;
    height: 30px;
}

.btn-update-post {
    text-decoration: none;
    margin-left: 10px;
    background-color: yellowgreen;
    border-radius: 20px;
    height: 35px;
    width: 110px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.create-post-page {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}


.post-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
}

textarea, input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

    textarea:focus, input:focus {
        border-color: #0056b3;
        outline: none;
    }

#tag-input {
}

.tags-input-wrapper {
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    gap: 5px;
    background: #f8f9fa;
    box-sizing: border-box;
    display: flex;
}

.tag {
    background: #0056b3;
    color: #fff;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
}

    .tag a {
        margin-left: 5px;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
    }

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#imagePreviews {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-container {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 8px;
    border: 2px solid #ddd;
}

    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .image-container button {
        position: absolute;
        top: -5px;
        right: -5px;
        background: #ff4d4d;
        border: none;
        color: white;
        font-size: 12px;
        border-radius: 50%;
        cursor: pointer;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

.submit-btn {
    background-color: #0056b3;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    text-align: center;
}

    .submit-btn:hover {
        background-color: #004494;
    }

.text-danger {
    font-size: 12px;
    color: #e74c3c;
}

#imageCounter {
    font-size: 14px;
    color: #555;
}


.user-tags-input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

.user-tag {
    background-color: #0056b3;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

    .user-tag .remove-tag {
        margin-left: 5px;
        cursor: pointer;
        font-weight: bold;
    }

.users-search-bar {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    width: 100%;
    max-height: 120px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    z-index: 10;
}

    .dropdown-menu.visible {
        display: block;
    }

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

    .dropdown-item:hover {
        background-color: #f0f0f0;
    }

    .dropdown-item img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 50%;
    }

.admin-banner {
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 24px;
    background-color: rgb(255, 0, 0);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.tags {
    display: block;
    flex-direction: row;
    gap: 10px;
    margin-left: 2px;
}

    .tags > * {
        color: #0000ff;
        font-size: 13px;
    }

.taggedUsers {
    display: block;
    flex-direction: row;
    gap: 10px;
    margin-left: 2px;
}

.taggedUsers-text {
    color: #7C3DAA;
    font-size: 15px;
}

/* comment */


.comment-input-field textarea
{
    background: transparent;
    padding: 25px;
    width: 100%;
    box-sizing: border-box;
    resize:none;
    height: 40px;
    max-height: 150px;
    overflow-y: auto;
    font-size: 14px;
}

.comment-input-field textarea:focus {
    background: transparent;
    color: #black;
    font-weight: bold;
}

.comment-input-field textarea::placeholder {
        color: 737373;
        font-weight: bold;
}
.form-control {
    margin-left: 5px;
}

.comment-button-holder {
    margin-left: 10px;
}
