<!DOCTYPE html>
<!--Links to Reactions and Comments-->
<!-- <div class=sidebar-other-link><a href="/Administration/Comments">Comments</a></div>-->
<!-- <div class=sidebar-other-link><a href="/Administration/Reactions">Reaction</a></div>-->
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
</head>
<body>
	<div>
		@RenderBody()
	</div>
</body>
</html>
